<% layout("/layouts/boilerplate") %>
 
     
    <div class="row"> 
        <div class="col-8 offset-2"> 
            <br><br>
            <h3>Create a new List</h3>
    <form method="POST" action="/listings" novalidate class="needs-validation">
      <div class="mb-3">
        <lable for="title" class="form-label">Title</lable>
        <input
          name="listing[title]"
          placeholder="Enter Title"
          type="text"
          class="form-control"
          required
        />
        <div class="valid-feedback">Title looks good!</div>
      </div>
      <div class="mb-3">
        <lable for="description" class="form-label">Description</lable>
        <textarea
          name="listing[description]"
          placeholder="Enter description"
          class="form-control"
          required
        ></textarea>
        <div class="invalid-feedback">Please enter a short description</div>
      </div>
      <div class="mb-3">
        <lable for="image" class="form-label">Image Link</lable>
        <input
          name="listing[image]"
          placeholder="Enter image URL/link"
          type="text"
          class="form-control"
        />
      </div>

      <div class="row"> 
      <div class="mb-3 col-md-4">
        <lable for="price" class="form-label">Price</lable>
        <input name="listing[price]" placeholder="Enter price"  class="form-control" required/>
        <div class="invalid-feedback">Price should be valid</div>
      </div>

    
      
      <div class="mb-3 col-md-8">
        <lable for="country" class="form-label">Country</lable>
        <input
          name="listing[country]"
          placeholder="Enter country"
          type="text"
          class="form-control"
          required
        />
      <div class="invalid-feedback">Country name should be valid</div>
    </div>
    </div>


      <div class="mb-3">
        <lable for="location" class="form-label">Location</lable>
        <input
          name="listing[location]"
          placeholder="Enter location"
          type="text"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Location should be valid</div>
      </div>

      <button class="btn btn-dark add-btn">Add Listing</button>
      <br><br>
    </form>
</div>
</div>


